### Terraform ###
# Local .terraform directories
**/.terraform/*

# .tfstate files
# *.tfstate
# *.tfstate.*

# example.tfvars
.tfvars
terraform.tfvars

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json




# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/